#censor {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100vw;
    height: 50px;
    background: black;
}

#static {
    background-image: url(../public/static.gif);
    position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
}

#player {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    z-index: -1;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    z-index: 2;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
